<a href="https://colab.research.google.com/github/pedrohcmds/obitos_covid_ms/blob/main/notebooks/Limpeza_dos_dados_%C3%B3bitos_COVID_19_MS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando Bibliotecas

In [41]:
import pandas as pd

# Importando Dados

In [42]:
dados = pd.read_csv('https://raw.githubusercontent.com/pedrohcmds/obitos_covid_ms/main/dados/obito_cartorio.csv')

# Verificando integridade dos dados

In [43]:
dados.head()

         date state  ...  new_deaths_total_2019  new_deaths_total_2020
0  2020-01-01    AC  ...                     10                     14
1  2020-01-02    AC  ...                      7                     10
2  2020-01-03    AC  ...                      8                     13
3  2020-01-04    AC  ...                      6                      6
4  2020-01-05    AC  ...                      7                      9

[5 rows x 34 columns]

In [44]:
dados.tail()

            date state  ...  new_deaths_total_2019  new_deaths_total_2020
9877  2020-12-27    TO  ...                     14                      4
9878  2020-12-28    TO  ...                     12                      6
9879  2020-12-29    TO  ...                     15                      1
9880  2020-12-30    TO  ...                     16                      0
9881  2020-12-31    TO  ...                     14                      0

[5 rows x 34 columns]

# Selecionando os Dados do Mato Grosso do Sul
<center><img src="https://user-images.githubusercontent.com/37647139/133510771-5a1b6714-4d27-43ff-8ee1-8ed037f23163.png" alt="Bandeira do Mato Grosso do Sul" width="100"/></center>

In [45]:
dados_ms = dados.query('state == "MS"')

# Verificando dados duplicados

In [46]:
dados_ms.shape

(366, 34)

In [47]:
dados_ms_limpo = dados_ms.drop_duplicates()

In [48]:
dados_ms_limpo.shape

(366, 34)

# Selecionando as colunas que nos interessam

In [49]:
dados_ms.head(1)

            date state  ...  new_deaths_total_2019  new_deaths_total_2020
4026  2020-01-01    MS  ...                     35                     37

[1 rows x 34 columns]

In [50]:
dados_ms.tail(1)

            date state  ...  new_deaths_total_2019  new_deaths_total_2020
4391  2020-12-31    MS  ...                     31                      0

[1 rows x 34 columns]

In [51]:
colunas = dados_ms.columns
for coluna in colunas:
    print(coluna)

date
state
epidemiological_week_2019
epidemiological_week_2020
deaths_indeterminate_2019
deaths_respiratory_failure_2019
deaths_others_2019
deaths_pneumonia_2019
deaths_septicemia_2019
deaths_sars_2019
deaths_covid19
deaths_indeterminate_2020
deaths_respiratory_failure_2020
deaths_others_2020
deaths_pneumonia_2020
deaths_septicemia_2020
deaths_sars_2020
deaths_total_2019
deaths_total_2020
new_deaths_indeterminate_2019
new_deaths_respiratory_failure_2019
new_deaths_others_2019
new_deaths_pneumonia_2019
new_deaths_septicemia_2019
new_deaths_sars_2019
new_deaths_covid19
new_deaths_indeterminate_2020
new_deaths_respiratory_failure_2020
new_deaths_others_2020
new_deaths_pneumonia_2020
new_deaths_septicemia_2020
new_deaths_sars_2020
new_deaths_total_2019
new_deaths_total_2020

## Colunas a Manter

Caso deseje ver a explicaÃ§Ã£o das colunas, acesse a [documentaÃ§Ã£o oficial](https://github.com/turicas/covid19-br/blob/master/api.md#Ã³bitos-registrados-em-cartÃ³rio).

In [67]:
lista_colunas = [
                 'date',
                 'state',
                 'new_deaths_covid19',
                 'deaths_covid19' ,
                 'deaths_total_2020',

]

In [68]:
dados_ms_colunas_selecionadas = dados_ms[lista_colunas]

In [69]:
dados_ms_colunas_selecionadas.head()

            date state  new_deaths_covid19  deaths_covid19  deaths_total_2020
4026  2020-01-01    MS                 NaN               0                 37
4027  2020-01-02    MS                 NaN               0                 68
4028  2020-01-03    MS                 NaN               0                107
4029  2020-01-04    MS                 NaN               0                148
4030  2020-01-05    MS                 NaN               0                184

In [72]:
dados_ms_colunas_selecionadas.reset_index(drop=True, inplace=True)

In [73]:
dados_ms_colunas_selecionadas.head()

         date state  new_deaths_covid19  deaths_covid19  deaths_total_2020
0  2020-01-01    MS                 NaN               0                 37
1  2020-01-02    MS                 NaN               0                 68
2  2020-01-03    MS                 NaN               0                107
3  2020-01-04    MS                 NaN               0                148
4  2020-01-05    MS                 NaN               0                184

In [85]:
dados_ms_colunas_selecionadas.to_csv('dados_tratados_ms_2020.csv')